<?xml version="1.0" encoding="utf-8"?>
<Media Key="168c9f66-1c0f-4ce5-bd3a-ffcdb5e229b5" Alias="226795_medium.mp4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/mediummp4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T12:39:45</CreateDate>
    <NodeName Default="226795_medium.mp4" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sx1hpnri/226795_medium.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>