<?xml version="1.0" encoding="utf-8"?>
<Media Key="e276b7d0-d117-48e8-9ea6-a0c9aa061d77" Alias="43021810-0cfb-466e-b00c-46c05fd4b394.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cfb466eB00c46c05fd4b394png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-14T13:40:55</CreateDate>
    <NodeName Default="43021810-0cfb-466e-b00c-46c05fd4b394.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l34davd4/43021810-0cfb-466e-b00c-46c05fd4b394.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>