<?xml version="1.0" encoding="utf-8"?>
<Media Key="d36cd87d-3607-4cb0-8711-137bd49a74fe" Alias="audiCar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/audiCar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-11T12:23:03</CreateDate>
    <NodeName Default="audiCar" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4ijcuzlo/car-604019_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>