<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6f5db7e-aab4-4399-9020-e510952da073" Alias="backImgRoad" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backImgRoad</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-10T10:41:41</CreateDate>
    <NodeName Default="backImgRoad" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4eilg2g3/road-2362544_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>