<?xml version="1.0" encoding="utf-8"?>
<Media Key="51134796-00f8-4ae0-8a58-7fde9a7322e5" Alias="BMW" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BMW</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-07-14T16:04:12</CreateDate>
    <NodeName Default="BMW" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mt3ldm5d/bmw-8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>