<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c7a2503-beb2-44c3-a6e6-9aaf625c3496" Alias="brandLogoWhite.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandLogoWhitepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:14:55</CreateDate>
    <NodeName Default="brandLogoWhite.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/rtxdz4w1/brandlogowhite.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>