<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d11a430-4453-4479-ba78-30c93810bd51" Alias="brandLogo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T09:52:52</CreateDate>
    <NodeName Default="brandLogo" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/x3xfp4z0/brandlogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>