<?xml version="1.0" encoding="utf-8"?>
<Media Key="85720185-e5ac-4c70-996d-d1d56aaa62e8" Alias="carouselBackImage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/carouselBackImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T11:32:04</CreateDate>
    <NodeName Default="carouselBackImage" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/blfdim4f/europcar-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>