<?xml version="1.0" encoding="utf-8"?>
<Media Key="a78fe10e-8431-40a6-9598-95e90cb1749e" Alias="carVid" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/carVid</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-10-08T23:56:27</CreateDate>
    <NodeName Default="carVid" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "79482e44-f230-4bbb-aa8e-76b8ea46e26a",
    "mediaKey": "4e9ddd64-2103-45fc-a5c7-9df0b261192f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>