<?xml version="1.0" encoding="utf-8"?>
<Media Key="e189ab91-3e4f-4285-beae-9292d7a1aa9e" Alias="carVideo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/carVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-10-08T23:15:19</CreateDate>
    <NodeName Default="carVideo" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "2d465c5e-5c7d-43ad-a96c-3920c9b5a6bd",
    "mediaKey": "0d161dee-95f6-4340-b8b2-e63ad9492751",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>