<?xml version="1.0" encoding="utf-8"?>
<Media Key="37963956-33a1-4191-8d6d-6cf5e32b0ac0" Alias="carVideo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/carVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-07-16T13:05:54</CreateDate>
    <NodeName Default="carVideo" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "cbb27b39-2a0c-4f2e-bc1a-0257085b52b7",
    "mediaKey": "82e76f9a-4520-415a-848b-8149471636db",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>