<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc371161-d80e-4b87-9835-e1311780f6d4" Alias="carVideo (video-converter.com).mp4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/carVideoVideoConvertercomMp4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T14:28:13</CreateDate>
    <NodeName Default="carVideo (video-converter.com).mp4" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sj2nyxbj/carvideo-fixed.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>