<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e34c9d1-0598-418d-8954-1b8c500f4f16" Alias="carvideo-fixed.mp4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/carvideoFixedmp4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T14:43:00</CreateDate>
    <NodeName Default="carvideo-fixed.mp4" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ekqn55v5/carvideo-fixed.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>