<?xml version="1.0" encoding="utf-8"?>
<Media Key="227b0eb3-b197-4d0d-bd66-0500715678a4" Alias="CarVideo.h264" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/CarVideoh264</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T13:55:12</CreateDate>
    <NodeName Default="CarVideo.h264" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ibtibavq/carvideo.h264]]></Value>
    </umbracoFile>
  </Properties>
</Media>