<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6d2c74b-9a78-4eaf-a5fb-d1a2256eb72e" Alias="contactImg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-12T11:43:18</CreateDate>
    <NodeName Default="contactImg" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yqgjiaar/contactimg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>