<?xml version="1.0" encoding="utf-8"?>
<Media Key="179a4843-e743-4473-a3ef-6fdd529f1815" Alias="europcar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/europcar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:37:18</CreateDate>
    <NodeName Default="europcar" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zsbnzijk/europcar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>