<?xml version="1.0" encoding="utf-8"?>
<Media Key="f385d40a-2cf8-4c36-bcd8-ebb5bc74affb" Alias="faq" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faq</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-13T09:31:41</CreateDate>
    <NodeName Default="faq" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qupmgrmr/faq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>