<?xml version="1.0" encoding="utf-8"?>
<Media Key="06462204-1b93-43fd-b9fb-936a59a94aa2" Alias="faq2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faq2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-13T09:34:04</CreateDate>
    <NodeName Default="faq2" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rpuabmh0/faq2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>