<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3f993bd-3a72-419f-b8dc-2275747088bc" Alias="featureCards" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/featureCards</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-22T10:14:18</CreateDate>
    <NodeName Default="featureCards" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>