<?xml version="1.0" encoding="utf-8"?>
<Media Key="d500bd2c-79b2-48c0-8f5f-0ab467e00fbf" Alias="financeImg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/financeImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-09T13:08:08</CreateDate>
    <NodeName Default="financeImg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/un1fmy41/kinsen-loan.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>