<?xml version="1.0" encoding="utf-8"?>
<Media Key="281f2f0c-b8a2-4d8e-ad79-10c54bd33949" Alias="goldcar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/goldcar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:53:37</CreateDate>
    <NodeName Default="goldcar" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qpsfthwl/goldcar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>