<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e16e5fb-6b41-47ce-82af-61ea25a97a6f" Alias="goldcar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/goldcar</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:37:02</CreateDate>
    <NodeName Default="goldcar" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/oqxfb4bi/goldcar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>