<?xml version="1.0" encoding="utf-8"?>
<Media Key="8da0e855-2c02-427b-99a7-c0ac8c45d863" Alias="homeVideo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/homeVideo</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-10-08T14:26:11</CreateDate>
    <NodeName Default="homeVideo" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "fae6ce6e-a818-4e44-928a-198a471c77f6",
    "mediaKey": "a6aa089f-75b7-49e3-a560-3dedc47b4f73",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>