<?xml version="1.0" encoding="utf-8"?>
<Media Key="d936ad72-b586-451e-8df5-d328ee7843f2" Alias="homeVideo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homeVideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-10-09T00:03:47</CreateDate>
    <NodeName Default="homeVideo" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "2a858f5d-c330-46ff-8edd-2f62ee606d6d",
    "mediaKey": "0bf435fa-a718-487d-b2e0-442684754c51",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>