<?xml version="1.0" encoding="utf-8"?>
<Media Key="5547f39a-9850-4ba6-9789-76490fe21957" Alias="kinsenVertical" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kinsenVertical</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-19T16:49:04</CreateDate>
    <NodeName Default="kinsenVertical" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cu2bdyzz/kinsen_vertical.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>