<?xml version="1.0" encoding="utf-8"?>
<Media Key="931010e5-5bee-4830-ac88-a6c9e5a461d7" Alias="l0547252.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547252jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:34</CreateDate>
    <NodeName Default="l0547252.jpg" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nlnfmjmh/l0547252.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>