<?xml version="1.0" encoding="utf-8"?>
<Media Key="28bcbdb9-ab90-4b97-a940-804db9f53fcd" Alias="l0547247.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547247jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:34</CreateDate>
    <NodeName Default="l0547247.jpg" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gz1pvhxz/l0547247.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>