<?xml version="1.0" encoding="utf-8"?>
<Media Key="2373b210-b935-4605-a46a-5c77f1c0a79b" Alias="l0547250.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547250jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:34</CreateDate>
    <NodeName Default="l0547250.jpg" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t32dlfk2/l0547250.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>