<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a1b889c-2962-4a1a-9171-4e28b06a2373" Alias="l0548009.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0548009jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T12:46:29</CreateDate>
    <NodeName Default="l0548009.jpg" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cnbf1hal/l0548009.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>