<?xml version="1.0" encoding="utf-8"?>
<Media Key="1476549f-45b3-4a33-8a30-20371dff892b" Alias="l0547245.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547245jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:35</CreateDate>
    <NodeName Default="l0547245.jpg" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ccpdbiw0/l0547245.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>