<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc6ffaff-1909-40f4-a533-3cd4c2a4235c" Alias="l0547249.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547249jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:34</CreateDate>
    <NodeName Default="l0547249.jpg" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oaycscta/l0547249.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>