<?xml version="1.0" encoding="utf-8"?>
<Media Key="3629a732-ed97-4891-adcb-4839b8d22362" Alias="l0548012.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0548012jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T12:46:29</CreateDate>
    <NodeName Default="l0548012.jpg" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xvwh5ah4/l0548012.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>