<?xml version="1.0" encoding="utf-8"?>
<Media Key="a59279e4-1a99-4909-b71d-17914049318c" Alias="l0548013.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0548013jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T12:46:28</CreateDate>
    <NodeName Default="l0548013.jpg" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/noznie5q/l0548013.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>