<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4cbf2fa-4da9-4f0e-9689-4f388c27b875" Alias="l0548011.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0548011jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-22T12:46:29</CreateDate>
    <NodeName Default="l0548011.jpg" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ou2i0ewa/l0548011.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>