<?xml version="1.0" encoding="utf-8"?>
<Media Key="32468441-d84d-499f-ba0f-632b80f253ec" Alias="l0547251.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0547251jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:37:34</CreateDate>
    <NodeName Default="l0547251.jpg" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zzhabbbe/l0547251.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>