<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e384cae-b3bb-425f-a329-716e2365bb34" Alias="l0551512.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0551512jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:35:14</CreateDate>
    <NodeName Default="l0551512.jpg" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/egdh3ggs/l0551512.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>