<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd314b1-b6d1-421e-a789-915207238bb3" Alias="l0551513.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0551513jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:35:14</CreateDate>
    <NodeName Default="l0551513.jpg" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h1pjllny/l0551513.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>