<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b3d1ec2-06b9-4590-94ee-e84acbb83b4e" Alias="l0551535.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0551535jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T13:28:36</CreateDate>
    <NodeName Default="l0551535.jpg" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jxkhxpoq/l0551535.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>