<?xml version="1.0" encoding="utf-8"?>
<Media Key="92b58231-0f6d-46c2-bdd8-c6ac582423e2" Alias="l0551515.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0551515jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:35:14</CreateDate>
    <NodeName Default="l0551515.jpg" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xzepgjae/l0551515.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>