<?xml version="1.0" encoding="utf-8"?>
<Media Key="eca0509d-e81e-4dd4-a993-f39a650b8a5c" Alias="l0551514.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/l0551514jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-20T09:35:14</CreateDate>
    <NodeName Default="l0551514.jpg" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cknomwtx/l0551514.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>