<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d9a4c2f-066f-45e7-bcb0-0a25ddae74c0" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-11T11:56:27</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>