<?xml version="1.0" encoding="utf-8"?>
<Media Key="16b71e51-2bc6-4253-90bf-b48b2426057c" Alias="Mitsubishi (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Mitsubishi2</Path>
    <Trashed Parent="9d9a4c2f-066f-45e7-bcb0-0a25ddae74c0">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T12:04:37</CreateDate>
    <NodeName Default="Mitsubishi (2)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uorbl3g3/mitsubishi_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>