<?xml version="1.0" encoding="utf-8"?>
<Media Key="91ea883e-2f8b-473a-8419-78193c1abe0d" Alias="mitsubishi" Level="2">
  <Info>
    <Parent Key="9d9a4c2f-066f-45e7-bcb0-0a25ddae74c0">Logos</Parent>
    <Path>/Logos/mitsubishi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-11T11:58:52</CreateDate>
    <NodeName Default="mitsubishi" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zq0fq22q/mitsubishi.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>