<?xml version="1.0" encoding="utf-8"?>
<Media Key="895dc5e4-6c2a-4ab6-9420-539f9e80bb41" Alias="Mitsubishi" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mitsubishi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-24T15:37:13</CreateDate>
    <NodeName Default="Mitsubishi" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nmhbwp0d/europcar_flex_mitsubishi-spacestar-550x413.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>