<?xml version="1.0" encoding="utf-8"?>
<Media Key="36d4e701-a5bb-48f6-90c0-40d49a6ac86e" Alias="new" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/new</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-10-08T15:24:16</CreateDate>
    <NodeName Default="new" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[[
  {
    "key": "17a924ad-8657-4e78-a562-03990857977b",
    "mediaKey": "5c46498f-c59f-4e08-9e64-84349d712ec4",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </umbracoFile>
  </Properties>
</Media>