<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bf435fa-a718-487d-b2e0-442684754c51" Alias="newCarVideo (1).mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newCarVideo1Mp4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-09T00:40:42</CreateDate>
    <NodeName Default="newCarVideo (1).mp4" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bfob5kz5/newcarvideo-1.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>