<?xml version="1.0" encoding="utf-8"?>
<Media Key="090b4012-dff0-4b77-b609-ab5969a3a147" Alias="newCarVideo.mp4 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newCarVideomp42</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T23:45:39</CreateDate>
    <NodeName Default="newCarVideo.mp4 (2)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2eupbkox/newcarvideo.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>