<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e9ddd64-2103-45fc-a5c7-9df0b261192f" Alias="newCarVideo.mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newCarVideomp4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T23:55:51</CreateDate>
    <NodeName Default="newCarVideo.mp4" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s40hn1re/newcarvideo.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>