<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d161dee-95f6-4340-b8b2-e63ad9492751" Alias="newCarVideo.mp4 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newCarVideomp41</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-08T23:15:11</CreateDate>
    <NodeName Default="newCarVideo.mp4 (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dv0p1lor/newcarvideo.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>