<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9bf069a-e5f5-4879-955c-fa96c749b521" Alias="opel-frontera-side-view.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/opelFronteraSideViewpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-12T10:59:51</CreateDate>
    <NodeName Default="opel-frontera-side-view.png" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cxgpsh22/opel-frontera-side-view.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>