<?xml version="1.0" encoding="utf-8"?>
<Media Key="95c85285-69fb-4ff4-bab7-7f646e4447ac" Alias="opel-mokka-ultimate-12t.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/opelMokkaUltimate12tpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-23T09:34:51</CreateDate>
    <NodeName Default="opel-mokka-ultimate-12t.png" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bkmi2i2s/opel-mokka-ultimate-12t.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>