<?xml version="1.0" encoding="utf-8"?>
<Media Key="d640d3a9-a324-45d8-a49e-e93c1f969395" Alias="Opel-Mokka-GS-Line-12-AT-1-600x400.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OpelMokkaGSLine12AT1600x400png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-23T09:34:50</CreateDate>
    <NodeName Default="Opel-Mokka-GS-Line-12-AT-1-600x400.png" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eymbmycn/opel-mokka-gs-line-12-at-1-600x400.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>