<?xml version="1.0" encoding="utf-8"?>
<Media Key="7afbd36e-5750-43e2-b9b0-d1c02de95418" Alias="outOfRoad" Level="2">
  <Info>
    <Parent Key="d3f993bd-3a72-419f-b8dc-2275747088bc">featureCards</Parent>
    <Path>/featureCards/outOfRoad</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-22T10:20:59</CreateDate>
    <NodeName Default="outOfRoad" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2eml1tbz/\u03BC\u03B5\u03C3\u03B1\u03AF\u03BF.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>