<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6e7cd62-3ad7-411d-a567-870410cdb220" Alias="p_800_1810226.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/p_800_1810226png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-12T10:59:51</CreateDate>
    <NodeName Default="p_800_1810226.png" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3udlcuf4/p_800_1810226.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>