<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfdb4beb-71ef-4def-a49e-d38ce0afb979" Alias="Panda" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Panda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-24T15:37:36</CreateDate>
    <NodeName Default="Panda" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/msaj0cmg/fiat-panda-550x413.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>