<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f" Alias="Products" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Products</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-15T11:27:09</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties />
</Media>