<?xml version="1.0" encoding="utf-8"?>
<Media Key="f48afb85-ba0f-4448-b1fb-d0bbe09824b8" Alias="sarakakis" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sarakakis</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:16:50</CreateDate>
    <NodeName Default="sarakakis" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/biynyqtg/sarakakis.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>