<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e626890-3580-4f2d-b7a4-9914af87e646" Alias="sarakakisLeasing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sarakakisLeasing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T13:29:54</CreateDate>
    <NodeName Default="sarakakisLeasing" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/d4rcj4hj/sarakakisleasing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>