<?xml version="1.0" encoding="utf-8"?>
<Media Key="07c028c3-065f-4851-8cb6-2cd46855a7af" Alias="sarakakis" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sarakakis</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T11:54:37</CreateDate>
    <NodeName Default="sarakakis" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jtrinmjw/sarakakislogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>