<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd78b95-29c8-43dc-b049-489f3558f0a6" Alias="SarakakisBrand" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/SarakakisBrand</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T10:58:05</CreateDate>
    <NodeName Default="SarakakisBrand" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/djajcgnb/generation-y-anelave-tin-ananeosi-tou-saracakisgr-dnormal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>