<?xml version="1.0" encoding="utf-8"?>
<Media Key="a19d9aeb-0906-4e9f-b758-da7b6689c4c8" Alias="sarakakis" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/sarakakis</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T11:14:40</CreateDate>
    <NodeName Default="sarakakis" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mrinwf1p/generation-y-anelave-tin-ananeosi-tou-saracakisgr-dnormal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>