<?xml version="1.0" encoding="utf-8"?>
<Media Key="fefc2977-a683-45cb-a9b2-47b0bc04a7ce" Alias="sedan" Level="2">
  <Info>
    <Parent Key="d3f993bd-3a72-419f-b8dc-2275747088bc">featureCards</Parent>
    <Path>/featureCards/sedan</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-22T10:19:48</CreateDate>
    <NodeName Default="sedan" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5drlushk/\u03B7\u03BB\u03B5\u03BA\u03C4\u03C1\u03B9\u03BA\u03CC.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>