<?xml version="1.0" encoding="utf-8"?>
<Media Key="196c4e45-40fb-4d54-9d8e-95bc1c084858" Alias="shutterstock_2493027689.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/shutterstock_2493027689jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:40:36</CreateDate>
    <NodeName Default="shutterstock_2493027689.jpg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zkccvl2s/shutterstock_2493027689.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>