<?xml version="1.0" encoding="utf-8"?>
<Media Key="f51748fd-28da-4613-834f-564351e4b0ed" Alias="shutterstock_2363946461.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/shutterstock_2363946461jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:40:27</CreateDate>
    <NodeName Default="shutterstock_2363946461.jpg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/okbfcq3t/shutterstock_2363946461.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>