<?xml version="1.0" encoding="utf-8"?>
<Media Key="667e7020-d869-4308-a16b-0d0fa1ac4bba" Alias="shutterstock_2451250027.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/shutterstock_2451250027jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:40:27</CreateDate>
    <NodeName Default="shutterstock_2451250027.jpg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/v43druaa/shutterstock_2451250027.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>