<?xml version="1.0" encoding="utf-8"?>
<Media Key="800e86c5-7567-464d-80bd-0e7c6d0956f0" Alias="shutterstock_2522747459.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/shutterstock_2522747459jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:40:36</CreateDate>
    <NodeName Default="shutterstock_2522747459.jpg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jjgeqnqo/shutterstock_2522747459.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>