<?xml version="1.0" encoding="utf-8"?>
<Media Key="deea560a-c55d-44de-9ae4-ca0cdc2acad3" Alias="shutterstock_2475657615.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/shutterstock_2475657615jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-08T16:40:25</CreateDate>
    <NodeName Default="shutterstock_2475657615.jpg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qwoky0bu/shutterstock_2475657615.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>