<?xml version="1.0" encoding="utf-8"?>
<Media Key="8beca34a-4378-4a41-8d53-7d4bfe1d499e" Alias="suv" Level="2">
  <Info>
    <Parent Key="d3f993bd-3a72-419f-b8dc-2275747088bc">featureCards</Parent>
    <Path>/featureCards/suv</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-22T10:15:21</CreateDate>
    <NodeName Default="suv" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yvulupir/suv.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>