<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd38d0e0-61b4-4cad-8670-2e30c49209be" Alias="town" Level="2">
  <Info>
    <Parent Key="d3f993bd-3a72-419f-b8dc-2275747088bc">featureCards</Parent>
    <Path>/featureCards/town</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-22T10:20:13</CreateDate>
    <NodeName Default="town" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n2nh2c43/\u03BC\u03B9\u03BA\u03C1\u03CC.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>