<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf04858f-d5fe-468b-8719-07be7ebebd4c" Alias="transparent" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/transparent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:19:17</CreateDate>
    <NodeName Default="transparent" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/abhfecmx/d51c074264dc22c6b3b49fae2d2b8019.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>