@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models; 
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["Title"] = "Επικοινωνία | kinsen.gr";
	var contactTitle = Model.Value<string>("contactTitle");
  var contactImg = Model.Value<MediaWithCrops>("contactImg");
}

<div class="contact-hero-shell">

  @if (contactImg != null)
  {
    <div class="contact-bg-image">
      <img src="@contactImg.Url()" alt="Contact Background" />
    </div>
  }

  <div class="contact-form-layer">
    <div class="contact-container">
      <div class="contact-left">
        <h3>@contactTitle</h3>
        <form id="contactForm" class="contact-form">
          <div class="form-row">
          <div class="form-group">
            <label for="first-name">Όνομα</label>
            <input type="text" id="first-name" placeholder="" />
          </div>
          <div class="form-group">
            <label for="last-name">Επώνυμο</label>
            <input type="text" id="last-name" placeholder="" />
          </div>
        </div>

        <div class="form-group full-width">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="" />
        </div>

        <div class="form-group full-width">
          <label for="message">Μήνυμα</label>
          <textarea id="message" rows="6" placeholder=""></textarea>
        </div>

        <button type="button" id="contactSubmit" class="submit-btn">Αποστολή</button>
        <div class="form-message d-flex gap-3 justify-content-center mt-4" id="formMsgContact" aria-live="polite"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="~/js/contactPage.js"></script>