@{
	Layout = null;
}
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="custom-footer">
  <div class="footer-container">
    <div class="footer-left">
      <h2><span class="logo-highlight"> <strong>KINSEN HELLAS</strong></h2>
      <p style="color:#002e4d;">
       Επενδύσεις με πυξίδα τη βιωσιμότητα, την πρόοδο και την υπεύθυνη επιχειρηματικότητα.
      </p>
      <div class="footer-socials">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-columns">
      <div class="footer-col">
        <h4>Account</h4>
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="#">Notifications</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>About</h4>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><a href="#">Community</a></li>
          <li><a href="#">Help center</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2025 All Right Reserved by Kinsen</span>
    <div class="footer-links">
      <a href="#">Terms</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cookies</a>
    </div>
  </div>
</footer>
