@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	#actionBtn:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
</style>

<div class="login-wrapper">
	<div class="login-box">
		@* <img src="~/media/kinsenLogo.png" alt="Kinsen Logo" class="login-logo" /> *@
		<p class="forgetPass-title">Συμπληρώστε τον κωδικό που σας στάλθηκε <br /> στο email σας:</p>

		<div class="loginForm">
			<div class="mb-3">
				<label for="resetCode" class="form-label">Κωδικός Αποστολής:</label>
				<input type="password" id="resetCode" name="code" class="form-control" autocomplete="one-time-code" required/>			
  			</div>

			<div class="mb-3 new-pass">
				<label for="newPassword" class="form-label">Νέος Κωδικός:</label>
				<input type="password" id="newPassword" class="form-control" />
			</div>

			<div class="mb-3 new-pass">
				<label for="confirmPassword" class="form-label">Επιβεβαίωση Κωδικού:</label>
				<input type="password" id="confirmPassword" class="form-control" />
			</div>

			<button type="button" class="btn btn-primary" id="actionBtn" disabled onclick="submitNewPassword()">Αποθήκευση</button>
			<p id="statusMsg" class="status-msg"></p>
		</div>
	</div>
</div>

<script src="~/js/forgotPassword.js" defer></script>