<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e61fb8a-19fa-48a4-9c00-bcb32185f74e" Alias="carDetails (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/carDetails1</Path>
    <Trashed Parent="f11c0638-f7ec-465a-9e12-c8f622473f83">true</Trashed>
    <ContentType>carPageDetails</ContentType>
    <CreateDate>2025-08-04T14:09:05</CreateDate>
    <NodeName Default="carDetails (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30b6f5fd-056f-4a81-b189-5b973669361d">CarPageDetails</Template>
  </Info>
  <Properties>
    <carBlock>
      <Value><![CDATA[]]></Value>
    </carBlock>
    <carCarouselImg>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7de29471-f200-4bf2-8fd0-13951ad407e7",
      "key": "542fd3cb-0c70-4b48-992f-a938e13c969b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "542fd3cb-0c70-4b48-992f-a938e13c969b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "542fd3cb-0c70-4b48-992f-a938e13c969b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carCarouselImg>
    <kinsenLogo>
      <Value><![CDATA[[
  {
    "key": "8bc68f6c-3c21-4d86-8b74-d6bfbcd8d804",
    "mediaKey": "e276b7d0-d117-48e8-9ea6-a0c9aa061d77",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </kinsenLogo>
  </Properties>
</Content>