<?xml version="1.0" encoding="utf-8"?>
<Content Key="f11a0854-69b2-45d1-ae36-ea3bfc5d4e99" Alias="carDetailsVisitor" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/carDetailsVisitor</Path>
    <Trashed>false</Trashed>
    <ContentType>carDetailsVisitor</ContentType>
    <CreateDate>2025-09-04T15:43:58</CreateDate>
    <NodeName Default="carDetailsVisitor" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e23222f3-f13b-42ea-a922-e485f246057c">CarDetailsVisitor</Template>
  </Info>
  <Properties>
    <carBlock>
      <Value><![CDATA[]]></Value>
    </carBlock>
    <carCarouselImg>
      <Value><![CDATA[]]></Value>
    </carCarouselImg>
    <kinsenLogo>
      <Value><![CDATA[[
  {
    "key": "8759bab6-5d5a-4378-b924-1216b19665a6",
    "mediaKey": "e276b7d0-d117-48e8-9ea6-a0c9aa061d77",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </kinsenLogo>
  </Properties>
</Content>