<?xml version="1.0" encoding="utf-8"?>
<Content Key="bacdd6b9-7616-408d-8c86-d372fabfe441" Alias="carDetailsMember" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/carDetailsMember</Path>
    <Trashed>false</Trashed>
    <ContentType>carDetailsMember</ContentType>
    <CreateDate>2025-09-05T09:16:41</CreateDate>
    <NodeName Default="carDetailsMember" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1a247a48-7aca-4405-bb3e-ffd4cea3f692">carDetailsMember</Template>
  </Info>
  <Properties>
    <imgNotAvail>
      <Value><![CDATA[[
  {
    "key": "bf8fb4bd-fb2c-44fd-8598-f8976e7d892c",
    "mediaKey": "8ac305f4-c3b3-4734-9ea1-bc846552b3f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imgNotAvail>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>