<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff66cefb-4f34-4211-9adb-ea698be7b7b3" Alias="Cars" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Cars</Path>
    <Trashed Parent="f11c0638-f7ec-465a-9e12-c8f622473f83">true</Trashed>
    <ContentType>carsImport</ContentType>
    <CreateDate>2025-10-10T14:08:03</CreateDate>
    <NodeName Default="Cars" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>