<?xml version="1.0" encoding="utf-8"?>
<Content Key="74206dcd-36f0-475f-b8d9-84defa1f163c" Alias="contact" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-07-08T15:15:11</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aaefd157-1bac-43f5-9921-77dd04c7262b">ContactPage</Template>
  </Info>
  <Properties>
    <contactImg>
      <Value><![CDATA[[
  {
    "key": "f470b868-b968-4082-bc57-7e79b9a23966",
    "mediaKey": "67c8586b-9288-4794-bfd9-6320ad7aaa90",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImg>
    <contactTitle>
      <Value><![CDATA[Πώς μπορούμε να βοηθήσουμε;]]></Value>
    </contactTitle>
    <menuIcon>
      <Value><![CDATA[fa-solid fa-phone]]></Value>
    </menuIcon>
    <menuTitle>
      <Value><![CDATA[Επικοινωνία]]></Value>
    </menuTitle>
  </Properties>
</Content>