<?xml version="1.0" encoding="utf-8"?>
<Content Key="733317dc-d412-4ab1-af02-d0c3d244028c" Alias="footer" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/footer</Path>
    <Trashed Parent="f11c0638-f7ec-465a-9e12-c8f622473f83">true</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2025-10-16T10:59:48</CreateDate>
    <NodeName Default="footer" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4d2260c-b961-4c7d-9d91-95117bf4dfab">Footer</Template>
  </Info>
  <Properties>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <sarakakis>
      <Value><![CDATA[[
  {
    "key": "ee1b8f0c-254f-4116-b1d0-041c7adc7974",
    "mediaKey": "a19d9aeb-0906-4e9f-b758-da7b6689c4c8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sarakakis>
  </Properties>
</Content>