<?xml version="1.0" encoding="utf-8"?>
<Content Key="d51eb73e-7100-4844-94ad-ddfb05761f0b" Alias="forgotPassword" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/forgotPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPassword</ContentType>
    <CreateDate>2025-12-15T17:37:10</CreateDate>
    <NodeName Default="forgotPassword" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a162e5f2-025e-4a98-aeb1-f374cde5847e">ForgotPassword</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[hey]]></Value>
    </title>
  </Properties>
</Content>