<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b227d26-64a6-4f9e-b1e4-a226d3a71ade" Alias="getcode" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/getcode</Path>
    <Trashed>false</Trashed>
    <ContentType>getCode</ContentType>
    <CreateDate>2025-12-15T17:28:33</CreateDate>
    <NodeName Default="getcode" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="676bfcdf-2620-4768-9278-a272eddc228d">GetCode</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[hey]]></Value>
    </title>
  </Properties>
</Content>