<?xml version="1.0" encoding="utf-8"?>
<Content Key="c12108aa-e7fa-4840-b509-3b1fd3b31e47" Alias="Login" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2025-07-11T13:45:20</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3b240b0e-6979-405b-b78a-02ade8f1127f">Login</Template>
  </Info>
  <Properties />
</Content>