<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7ea3193-76df-4710-a35b-d39908470589" Alias="oldOrders" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/oldOrders</Path>
    <Trashed>false</Trashed>
    <ContentType>oldOrders</ContentType>
    <CreateDate>2026-01-15T15:46:15</CreateDate>
    <NodeName Default="oldOrders" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e2251098-7a4b-4c66-af43-6a6fdbc13f25">oldOrders</Template>
  </Info>
  <Properties>
    <oldOrdersTitle>
      <Value><![CDATA[Οι παραγγελίες σας]]></Value>
    </oldOrdersTitle>
  </Properties>
</Content>