<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e0d4c51-67bd-405f-b359-7ee55ca3aece" Alias="SERIES 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SERIES1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>carCard</ContentType>
    <CreateDate>2025-11-07T15:02:46</CreateDate>
    <NodeName Default="SERIES 1" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <carId>
      <Value><![CDATA[24]]></Value>
    </carId>
    <carPic>
      <Value><![CDATA[]]></Value>
    </carPic>
    <cc>
      <Value><![CDATA[0]]></Value>
    </cc>
    <color>
      <Value><![CDATA[0]]></Value>
    </color>
    <fuel>
      <Value><![CDATA[0]]></Value>
    </fuel>
    <hp>
      <Value><![CDATA[0]]></Value>
    </hp>
    <km>
      <Value><![CDATA[0]]></Value>
    </km>
    <maker>
      <Value><![CDATA[0]]></Value>
    </maker>
    <model>
      <Value><![CDATA[SERIES 1]]></Value>
    </model>
    <price>
      <Value><![CDATA[30500.02]]></Value>
    </price>
    <transmissionType>
      <Value><![CDATA[0]]></Value>
    </transmissionType>
    <typeOfCar>
      <Value><![CDATA[0]]></Value>
    </typeOfCar>
    <typeOfDiscount>
      <Value><![CDATA[]]></Value>
    </typeOfDiscount>
    <yearRelease>
      <Value><![CDATA[2023]]></Value>
    </yearRelease>
  </Properties>
</Content>