<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc0122f7-0639-4820-b852-3ef47ab2a5b8" Alias="shoppingCartContent" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/shoppingCartContent</Path>
    <Trashed>false</Trashed>
    <ContentType>shoppingCartContent</ContentType>
    <CreateDate>2025-08-26T14:46:38</CreateDate>
    <NodeName Default="shoppingCartContent" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c516b32-deb2-44a8-9bb7-964908558c55">ShoppingCartContent</Template>
  </Info>
  <Properties>
    <imgNotAvail>
      <Value><![CDATA[[
  {
    "key": "7b34af12-026e-46c2-a9ae-2f4a3c067cba",
    "mediaKey": "8ac305f4-c3b3-4734-9ea1-bc846552b3f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imgNotAvail>
    <title>
      <Value><![CDATA[Το καλάθι σας]]></Value>
    </title>
  </Properties>
</Content>