<?xml version="1.0" encoding="utf-8"?>
<Content Key="18ce1861-9a37-4582-8f52-0e866a3ef0de" Alias="usedCarSalesPage" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/usedCarSalesPage</Path>
    <Trashed>false</Trashed>
    <ContentType>usedCarSalesPage</ContentType>
    <CreateDate>2025-07-08T14:38:59</CreateDate>
    <NodeName Default="usedCarSalesPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="359a5f8c-039d-4bc3-9c7e-d76e4c7ac43d">UsedCarSalesPage</Template>
  </Info>
  <Properties>
    <carCardBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "623f64dd-4536-4e27-9b53-4cb9353e16fa",
      "udi": "umb://element/623f64dd45364e279b534cb9353e16fa",
      "values": [],
      "carId": 44,
      "model": "A33",
      "price": 19990,
      "yearRelease": 2022,
      "km": 45000,
      "cc": 1400,
      "hp": 150,
      "typeOfDiscount": "Offer",
      "carPicUrl": "https://localhost:44336/media/husfhvp2/vehicle-5570248_1920.jpg",
      "maker": "Kostas",
      "fuel": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF",
      "transmissionType": "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF",
      "color": "\u039C\u03B1\u03CD\u03C1\u03BF",
      "typeOfCar": "Sedan"
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "ea1d4360-bea2-4c66-b0cf-17b8a0994c01",
      "udi": "umb://element/ea1d4360bea24c66b0cf17b8a0994c01",
      "values": [],
      "carId": 55,
      "model": "Civic",
      "price": 28900,
      "yearRelease": 2021,
      "km": 30000,
      "cc": 2000,
      "hp": 190,
      "typeOfDiscount": "",
      "carPicUrl": "https://localhost:44336/media/4ijcuzlo/car-604019_1920.jpg",
      "maker": "Honda",
      "fuel": "\u0397\u03BB\u03B5\u03BA\u03C4\u03C1\u03B9\u03BA\u03CC",
      "transmissionType": "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF",
      "color": "\u0393\u03BA\u03C1\u03B9",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2"
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "a47f2f7e-18e1-4297-8aab-ff130318ddb4",
      "udi": "umb://element/a47f2f7e18e142978aabff130318ddb4",
      "values": [],
      "carId": 66,
      "model": "123",
      "price": 28900,
      "yearRelease": 2021,
      "km": 30000,
      "cc": 2000,
      "hp": 190,
      "typeOfDiscount": "",
      "carPicUrl": "https://localhost:44336/media/4ijcuzlo/car-604019_1920.jpg",
      "maker": "Maserati",
      "fuel": "\u0392\u03B5\u03BD\u03B6\u03AF\u03BD\u03B7",
      "transmissionType": "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF",
      "color": "\u0386\u03C3\u03C0\u03C1\u03BF",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2"
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "be01fbfc-fe4c-4d8c-8d6e-d9fb7686fad2",
      "udi": "umb://element/be01fbfcfe4c4d8c8d6ed9fb7686fad2",
      "values": [],
      "carId": 77,
      "model": "sweet",
      "price": 28900,
      "yearRelease": 2021,
      "km": 30000,
      "cc": 2000,
      "hp": 190,
      "typeOfDiscount": "Offer",
      "carPicUrl": "https://localhost:44336/media/4ijcuzlo/car-604019_1920.jpg",
      "maker": "Volvo",
      "fuel": "\u0392\u03B5\u03BD\u03B6\u03AF\u03BD\u03B7",
      "transmissionType": "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF",
      "color": "\u0386\u03C3\u03C0\u03C1\u03BF",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2"
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "623f64dd-4536-4e27-9b53-4cb9353e16fa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea1d4360-bea2-4c66-b0cf-17b8a0994c01",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a47f2f7e-18e1-4297-8aab-ff130318ddb4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "be01fbfc-fe4c-4d8c-8d6e-d9fb7686fad2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "623f64dd-4536-4e27-9b53-4cb9353e16fa",
        "contentUdi": "umb://element/623f64dd45364e279b534cb9353e16fa",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ea1d4360-bea2-4c66-b0cf-17b8a0994c01",
        "contentUdi": "umb://element/ea1d4360bea24c66b0cf17b8a0994c01",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a47f2f7e-18e1-4297-8aab-ff130318ddb4",
        "contentUdi": "umb://element/a47f2f7e18e142978aabff130318ddb4",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "be01fbfc-fe4c-4d8c-8d6e-d9fb7686fad2",
        "contentUdi": "umb://element/be01fbfcfe4c4d8c8d6ed9fb7686fad2",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carCardBlock>
    <image>
      <Value><![CDATA[[
  {
    "key": "041e2c1a-767a-48f2-b7ee-68cb21fbb595",
    "mediaKey": "5d4f9044-0adf-49c7-bff1-15d67a35e21d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <menuTitle>
      <Value><![CDATA[Πωλήσεις Μεταχειρισμένων]]></Value>
    </menuTitle>
    <usedCarTitle>
      <Value><![CDATA[Φίλτρα]]></Value>
    </usedCarTitle>
  </Properties>
</Content>