<?xml version="1.0" encoding="utf-8"?>
<Content Key="18ce1861-9a37-4582-8f52-0e866a3ef0de" Alias="usedCarSalesPage" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/usedCarSalesPage</Path>
    <Trashed>false</Trashed>
    <ContentType>usedCarSalesPage</ContentType>
    <CreateDate>2025-07-08T14:38:59</CreateDate>
    <NodeName Default="usedCarSalesPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="359a5f8c-039d-4bc3-9c7e-d76e4c7ac43d">UsedCarSalesPage</Template>
  </Info>
  <Properties>
    <carCardBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "56e2b92c-0cc5-466c-95b7-1162dd52d22c",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "37"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "BMW"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Abc"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1500"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "200"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0386\u03C3\u03C0\u03C1\u03BF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "1a0556a1-22e3-4d45-9149-f2c03ceb5307",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "38"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Jaguar"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Xxx"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0386\u03C3\u03C0\u03C1\u03BF \u03BC\u03B1\u03CD\u03C1\u03BF \u03C6\u03BF\u03C5\u03BE\u03B9\u03B1"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "4dd4843f-657f-431e-b371-b416e763d389",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "39"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tesla"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Y"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039A\u03BF\u03BA\u03BA\u03B9\u03BD\u03BF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "c36c7ca5-8462-49c8-8b2f-205c08d0711d",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "44"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Eirini"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "J"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03C1\u03AC\u03C3\u03B9\u03BD\u03BF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "85ba8715-84a3-4032-bdd4-4efa902e14ca",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "51"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Eirinii51"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "J"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0386\u03C3\u03C0\u03C1\u03BF \u03BC\u03B1\u03CD\u03C1\u03BF \u03BC\u03B5\u03C4\u03B1\u03BB\u03B9\u03B6\u03AD"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "8e3dc68c-84c6-4bf3-8663-eee8efb08326",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Honda"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Type-r"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "70000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039A\u03CC\u03BA\u03BA\u03B9\u03BD\u03BF-\u03BC\u03B5\u03C4\u03B1\u03BB\u03B9\u03B6\u03AD"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0395\u03BA\u03C4\u03CC\u03C2 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "b97fe581-485f-4399-8eaa-6b4c62708d6e",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "31"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Toyota"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Auris"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "105"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039C\u03C9\u03B2"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03CC\u03BB\u03B7\u03C2"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "3eaa5ef3-ac87-4bef-aacc-19d71d626573",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "32"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Toyota"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Auris2"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "105"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039C\u03C9\u03B2"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03CC\u03BB\u03B7\u03C2"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "37be98f9-19ac-46d3-ab39-675a402c6834",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "33"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fiat"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Panda"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "105"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039C\u03C9\u03B2"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03CC\u03BB\u03B7\u03C2"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "a942216d-376f-4cb5-b740-edb009b8b48f",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "35"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fiat2"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Panda"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "105"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039C\u03C0\u03BB\u03B5"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03CC\u03BB\u03B7\u03C2"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "f3324972-ab26-431c-a8a0-3040bf2f60f5",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "23"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "BMW"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Series 11"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30500.02"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u0386\u03C3\u03C0\u03C1\u03BF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUV"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "e85d734e-cc06-4ac4-b299-fb775c539b89",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Volvo"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "X2"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "52522.19"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u039C\u03B1\u03CD\u03C1\u03BF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03CC\u03BB\u03B7\u03C2"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "93ed9f04-d91a-45bc-85d1-8cb49f55cb82",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "26"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Honda"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Civic"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "52522.19"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A6\u03BF\u03CD\u03BE\u03B9\u03B1"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sedan"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "09a31e59-4621-4b1e-af1b-e33dfb6c10f5",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "27"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Mitsubishi"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Banana1"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "52522.19"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Gray"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sedan"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "bdb37d44-12c6-428a-a629-49f35f58686a",
      "udi": null,
      "values": [
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "28"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Mitsubishi"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Banana2"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "52522.19"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u03A0\u03BF\u03BD\u03C4\u03B9\u03BA\u03AF"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sedan"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "56e2b92c-0cc5-466c-95b7-1162dd52d22c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1a0556a1-22e3-4d45-9149-f2c03ceb5307",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4dd4843f-657f-431e-b371-b416e763d389",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c36c7ca5-8462-49c8-8b2f-205c08d0711d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "85ba8715-84a3-4032-bdd4-4efa902e14ca",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8e3dc68c-84c6-4bf3-8663-eee8efb08326",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b97fe581-485f-4399-8eaa-6b4c62708d6e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3eaa5ef3-ac87-4bef-aacc-19d71d626573",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "37be98f9-19ac-46d3-ab39-675a402c6834",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a942216d-376f-4cb5-b740-edb009b8b48f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f3324972-ab26-431c-a8a0-3040bf2f60f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e85d734e-cc06-4ac4-b299-fb775c539b89",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "93ed9f04-d91a-45bc-85d1-8cb49f55cb82",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "09a31e59-4621-4b1e-af1b-e33dfb6c10f5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bdb37d44-12c6-428a-a629-49f35f58686a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "56e2b92c-0cc5-466c-95b7-1162dd52d22c",
        "contentUdi": "umb://element/56e2b92c0cc5466c95b71162dd52d22c",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1a0556a1-22e3-4d45-9149-f2c03ceb5307",
        "contentUdi": "umb://element/1a0556a122e34d459149f2c03ceb5307",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4dd4843f-657f-431e-b371-b416e763d389",
        "contentUdi": "umb://element/4dd4843f657f431eb371b416e763d389",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c36c7ca5-8462-49c8-8b2f-205c08d0711d",
        "contentUdi": "umb://element/c36c7ca5846249c88b2f205c08d0711d",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "85ba8715-84a3-4032-bdd4-4efa902e14ca",
        "contentUdi": "umb://element/85ba871584a34032bdd44efa902e14ca",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8e3dc68c-84c6-4bf3-8663-eee8efb08326",
        "contentUdi": "umb://element/8e3dc68c84c64bf38663eee8efb08326",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b97fe581-485f-4399-8eaa-6b4c62708d6e",
        "contentUdi": "umb://element/b97fe581485f43998eaa6b4c62708d6e",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3eaa5ef3-ac87-4bef-aacc-19d71d626573",
        "contentUdi": "umb://element/3eaa5ef3ac874befaacc19d71d626573",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "37be98f9-19ac-46d3-ab39-675a402c6834",
        "contentUdi": "umb://element/37be98f919ac46d3ab39675a402c6834",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a942216d-376f-4cb5-b740-edb009b8b48f",
        "contentUdi": "umb://element/a942216d376f4cb5b740edb009b8b48f",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f3324972-ab26-431c-a8a0-3040bf2f60f5",
        "contentUdi": "umb://element/f3324972ab26431ca8a03040bf2f60f5",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e85d734e-cc06-4ac4-b299-fb775c539b89",
        "contentUdi": "umb://element/e85d734ecc064ac4b299fb775c539b89",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "93ed9f04-d91a-45bc-85d1-8cb49f55cb82",
        "contentUdi": "umb://element/93ed9f04d91a45bc85d18cb49f55cb82",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "09a31e59-4621-4b1e-af1b-e33dfb6c10f5",
        "contentUdi": "umb://element/09a31e5946214b1eaf1be33dfb6c10f5",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bdb37d44-12c6-428a-a629-49f35f58686a",
        "contentUdi": "umb://element/bdb37d4412c6428aa62949f35f58686a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carCardBlock>
    <image>
      <Value><![CDATA[[
  {
    "key": "041e2c1a-767a-48f2-b7ee-68cb21fbb595",
    "mediaKey": "5d4f9044-0adf-49c7-bff1-15d67a35e21d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <menuTitle>
      <Value><![CDATA[Πωλήσεις Μεταχειρισμένων]]></Value>
    </menuTitle>
    <usedCarTitle>
      <Value><![CDATA[Φίλτρα]]></Value>
    </usedCarTitle>
  </Properties>
</Content>