<?xml version="1.0" encoding="utf-8"?>
<Content Key="18ce1861-9a37-4582-8f52-0e866a3ef0de" Alias="usedCarSalesPage" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/usedCarSalesPage</Path>
    <Trashed>false</Trashed>
    <ContentType>usedCarSalesPage</ContentType>
    <CreateDate>2025-07-08T14:38:59</CreateDate>
    <NodeName Default="usedCarSalesPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="359a5f8c-039d-4bc3-9c7e-d76e4c7ac43d">UsedCarSalesPage</Template>
  </Info>
  <Properties>
    <carCardBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "74765692-d4fb-4e2f-a188-d0fe2390d061",
      "udi": "umb://element/74765692d4fb4e2fa188d0fe2390d061",
      "values": [],
      "carId": 23,
      "maker": "BMW",
      "model": "Series 11",
      "price": 52000,
      "yearRelease": 2026,
      "km": 20,
      "cc": 1800,
      "hp": 250,
      "fuel": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF",
      "color": "\u039A\u03AF\u03C4\u03C1\u03B9\u03BD\u03BF",
      "transmissionType": "",
      "typeOfCar": "SUV",
      "offer": false,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/b9e4ee6430c647a1a57b4479a2264887",
      "tenPhotosForUsedCarSales": {
        "contentData": [
          {
            "contentTypeKey": "ec6b016a-a90b-41bc-8b71-38eff6c2eb84",
            "udi": null,
            "key": "d2b4f824-749b-4ae9-bb8b-99529f5b7c1f",
            "values": [
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img1",
                "value": "[{\u0022key\u0022:\u00227f10a45d-d767-412f-8575-0b9d445f4bc5\u0022,\u0022mediaKey\u0022:\u00221476549f-45b3-4a33-8a30-20371dff892b\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img2",
                "value": "[{\u0022key\u0022:\u00223ee27198-b311-4a72-9d2e-256a71c4f796\u0022,\u0022mediaKey\u0022:\u00222373b210-b935-4605-a46a-5c77f1c0a79b\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img3",
                "value": "[{\u0022key\u0022:\u0022ce77aa8f-e29a-4b8f-81cb-b3b29f3e159a\u0022,\u0022mediaKey\u0022:\u0022bc6ffaff-1909-40f4-a533-3cd4c2a4235c\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img4",
                "value": "[{\u0022key\u0022:\u0022f15c42c1-2eec-4612-a2bd-d162f61acb6a\u0022,\u0022mediaKey\u0022:\u0022b9e4ee64-30c6-47a1-a57b-4479a2264887\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img5",
                "value": "[{\u0022key\u0022:\u0022ed48e10f-d0c4-4dbe-b474-37e21e17e83b\u0022,\u0022mediaKey\u0022:\u0022ea24a67e-3caa-440f-8edf-116c4cadfcea\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img6",
                "value": "[{\u0022key\u0022:\u002274f50565-cf3e-432b-a3d4-c81257af6629\u0022,\u0022mediaKey\u0022:\u0022931010e5-5bee-4830-ac88-a6c9e5a461d7\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              }
            ]
          }
        ],
        "settingsData": [],
        "expose": [
          {
            "contentKey": "d2b4f824-749b-4ae9-bb8b-99529f5b7c1f",
            "culture": null,
            "segment": null
          }
        ],
        "Layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": null,
              "settingsUdi": null,
              "contentKey": "d2b4f824-749b-4ae9-bb8b-99529f5b7c1f",
              "settingsKey": null
            }
          ]
        }
      }
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "0adb6fd5-84d7-484c-a5d0-449f2f726964",
      "udi": "umb://element/0adb6fd584d7484ca5d0449f2f726964",
      "values": [],
      "carId": 25,
      "maker": "Volvo",
      "model": "X2",
      "price": 52522,
      "yearRelease": 1900,
      "km": 0,
      "cc": 0,
      "hp": 0,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "\u039C\u03B1\u03CD\u03C1\u03BF",
      "transmissionType": "",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2",
      "offer": true,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/bfdb4beb71ef4defa49ed38ce0afb979",
      "tenPhotosForUsedCarSales": null
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "f46b336b-1e20-498c-882b-6d47208c35a3",
      "udi": "umb://element/f46b336b1e20498c882b6d47208c35a3",
      "values": [],
      "carId": 30,
      "maker": "Honda",
      "model": "Type-r",
      "price": 70000,
      "yearRelease": 2025,
      "km": 10,
      "cc": 2000,
      "hp": 300,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "\u039A\u03AF\u03C4\u03C1\u03B9\u03BD\u03BF",
      "transmissionType": "",
      "typeOfCar": "\u0395\u03BA\u03C4\u03CC\u03C2 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5",
      "offer": true,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/76db7c61e6aa479b9a41de8fd9a9c988",
      "tenPhotosForUsedCarSales": {
        "contentData": [
          {
            "contentTypeKey": "ec6b016a-a90b-41bc-8b71-38eff6c2eb84",
            "udi": null,
            "key": "b65ce46f-d1e2-4d70-9c3e-c2e3621bae30",
            "values": [
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img2",
                "value": "[{\u0022key\u0022:\u0022fb0a1c9c-5111-4d4a-8ecf-27fd6cf7a9d2\u0022,\u0022mediaKey\u0022:\u00221bd314b1-b6d1-421e-a789-915207238bb3\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img1",
                "value": "[{\u0022key\u0022:\u0022c77ab95f-3f19-4306-bb5f-5ea65a178faa\u0022,\u0022mediaKey\u0022:\u0022eca0509d-e81e-4dd4-a993-f39a650b8a5c\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img3",
                "value": "[{\u0022key\u0022:\u0022d9786828-3be3-488a-a537-50e40ef17eed\u0022,\u0022mediaKey\u0022:\u00222e384cae-b3bb-425f-a329-716e2365bb34\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img4",
                "value": "[{\u0022key\u0022:\u0022d9d4fa6f-22b4-4818-8f82-1e469ea12570\u0022,\u0022mediaKey\u0022:\u0022dec7bb86-bdbb-404a-97fc-cd65cf0135de\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img5",
                "value": "[{\u0022key\u0022:\u002238cbc837-82ab-4912-86d8-89a99b55bce7\u0022,\u0022mediaKey\u0022:\u002292b58231-0f6d-46c2-bdd8-c6ac582423e2\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              }
            ]
          }
        ],
        "settingsData": [],
        "expose": [
          {
            "contentKey": "b65ce46f-d1e2-4d70-9c3e-c2e3621bae30",
            "culture": null,
            "segment": null
          }
        ],
        "Layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": null,
              "settingsUdi": null,
              "contentKey": "b65ce46f-d1e2-4d70-9c3e-c2e3621bae30",
              "settingsKey": null
            }
          ]
        }
      }
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "2b776e2b-de67-454b-8318-dd07747201a3",
      "udi": "umb://element/2b776e2bde67454b8318dd07747201a3",
      "values": [],
      "carId": 53,
      "maker": "Opel",
      "model": "Mokka",
      "price": 21001,
      "yearRelease": 2025,
      "km": 400,
      "cc": 1200,
      "hp": 136,
      "fuel": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF",
      "color": "\u03A4\u03B9\u03C1\u03BA\u03BF\u03C5\u03AC\u03B6",
      "transmissionType": "",
      "typeOfCar": "SUV",
      "offer": true,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/d640d3a9a32445d8a49ee93c1f969395",
      "tenPhotosForUsedCarSales": null
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "01ec0334-0137-4aaa-83af-cfdbf0b0239f",
      "udi": "umb://element/01ec033401374aaa83afcfdbf0b0239f",
      "values": [],
      "carId": 26,
      "maker": "Honda",
      "model": "Civic",
      "price": 52522,
      "yearRelease": 2023,
      "km": 0,
      "cc": 0,
      "hp": 0,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "\u03A6\u03BF\u03CD\u03BE\u03B9\u03B1",
      "transmissionType": "",
      "typeOfCar": "Sedan",
      "offer": false,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/95c8528569fb4ff4bab77f646e4447ac",
      "tenPhotosForUsedCarSales": null
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "6d46f64d-30c3-4cf9-8e6c-d56ba061278a",
      "udi": "umb://element/6d46f64d30c34cf98e6cd56ba061278a",
      "values": [],
      "carId": 31,
      "maker": "Toyota",
      "model": "Auris",
      "price": 30000,
      "yearRelease": 2024,
      "km": 105,
      "cc": 1500,
      "hp": 100,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "\u039C\u03C9\u03B2",
      "transmissionType": "",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2",
      "offer": true,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/d640d3a9a32445d8a49ee93c1f969395",
      "tenPhotosForUsedCarSales": null
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "28eed4b4-668a-4301-a2cc-28b3165e520f",
      "udi": "umb://element/28eed4b4668a4301a2cc28b3165e520f",
      "values": [],
      "carId": 33,
      "maker": "Fiat",
      "model": "Panda",
      "price": 30000,
      "yearRelease": 2024,
      "km": 105,
      "cc": 0,
      "hp": 0,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "\u039C\u03C9\u03B2",
      "transmissionType": "",
      "typeOfCar": "\u03A0\u03CC\u03BB\u03B7\u03C2",
      "offer": true,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/2a1b889c29624a1a91714e28b06a2373",
      "tenPhotosForUsedCarSales": {
        "contentData": [
          {
            "contentTypeKey": "ec6b016a-a90b-41bc-8b71-38eff6c2eb84",
            "udi": null,
            "key": "6a54ed0e-419b-4f78-9e60-ac828c33d146",
            "values": [
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img1",
                "value": "[{\u0022key\u0022:\u0022c8866ddd-8f6f-4522-8635-a8d3626ee59d\u0022,\u0022mediaKey\u0022:\u00223629a732-ed97-4891-adcb-4839b8d22362\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              },
              {
                "editorAlias": "Umbraco.MediaPicker3",
                "culture": null,
                "segment": null,
                "alias": "img2",
                "value": "[{\u0022key\u0022:\u00223b863a60-3fc0-4788-b2f9-b1ab066e9822\u0022,\u0022mediaKey\u0022:\u0022a59279e4-1a99-4909-b71d-17914049318c\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
              }
            ]
          }
        ],
        "settingsData": [],
        "expose": [
          {
            "contentKey": "6a54ed0e-419b-4f78-9e60-ac828c33d146",
            "culture": null,
            "segment": null
          }
        ],
        "Layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": null,
              "settingsUdi": null,
              "contentKey": "6a54ed0e-419b-4f78-9e60-ac828c33d146",
              "settingsKey": null
            }
          ]
        }
      }
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "0be9fcd6-47a4-49f2-b16d-0dab127d3724",
      "udi": "umb://element/0be9fcd647a449f2b16d0dab127d3724",
      "values": [],
      "carId": 27,
      "maker": "Mitsubishi",
      "model": "Colt",
      "price": 52522,
      "yearRelease": 2024,
      "km": 0,
      "cc": 1000,
      "hp": 80,
      "fuel": "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC",
      "color": "Gray",
      "transmissionType": "",
      "typeOfCar": "Sedan",
      "offer": false,
      "froze": false,
      "delete": false,
      "carPic": "umb://media/e1cca1ee55a74a6b9d9035ed80f80124",
      "tenPhotosForUsedCarSales": null
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "e5d5ab41-a65d-42d4-813a-6611cea4c36e",
      "udi": "umb://element/e5d5ab41a65d42d4813a6611cea4c36e",
      "values": [],
      "carId": 52,
      "maker": "Opel",
      "model": "Frontera",
      "price": 24000,
      "yearRelease": 2030,
      "km": 400,
      "cc": 200,
      "hp": 36,
      "fuel": "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF",
      "color": "\u03A4\u03B9\u03C1\u03BA\u03BF\u03C5\u03AC\u03B6",
      "transmissionType": "",
      "typeOfCar": "SUV",
      "offer": false,
      "froze": true,
      "delete": false,
      "carPic": "umb://media/8ac305f4c3b347349ea1bc846552b3f9",
      "tenPhotosForUsedCarSales": null
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "74765692-d4fb-4e2f-a188-d0fe2390d061",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0adb6fd5-84d7-484c-a5d0-449f2f726964",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f46b336b-1e20-498c-882b-6d47208c35a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2b776e2b-de67-454b-8318-dd07747201a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "01ec0334-0137-4aaa-83af-cfdbf0b0239f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d46f64d-30c3-4cf9-8e6c-d56ba061278a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "28eed4b4-668a-4301-a2cc-28b3165e520f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0be9fcd6-47a4-49f2-b16d-0dab127d3724",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e5d5ab41-a65d-42d4-813a-6611cea4c36e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "74765692-d4fb-4e2f-a188-d0fe2390d061",
        "contentUdi": "umb://element/74765692d4fb4e2fa188d0fe2390d061",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0adb6fd5-84d7-484c-a5d0-449f2f726964",
        "contentUdi": "umb://element/0adb6fd584d7484ca5d0449f2f726964",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f46b336b-1e20-498c-882b-6d47208c35a3",
        "contentUdi": "umb://element/f46b336b1e20498c882b6d47208c35a3",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2b776e2b-de67-454b-8318-dd07747201a3",
        "contentUdi": "umb://element/2b776e2bde67454b8318dd07747201a3",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "01ec0334-0137-4aaa-83af-cfdbf0b0239f",
        "contentUdi": "umb://element/01ec033401374aaa83afcfdbf0b0239f",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6d46f64d-30c3-4cf9-8e6c-d56ba061278a",
        "contentUdi": "umb://element/6d46f64d30c34cf98e6cd56ba061278a",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "28eed4b4-668a-4301-a2cc-28b3165e520f",
        "contentUdi": "umb://element/28eed4b4668a4301a2cc28b3165e520f",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0be9fcd6-47a4-49f2-b16d-0dab127d3724",
        "contentUdi": "umb://element/0be9fcd647a449f2b16d0dab127d3724",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e5d5ab41-a65d-42d4-813a-6611cea4c36e",
        "contentUdi": "umb://element/e5d5ab41a65d42d4813a6611cea4c36e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carCardBlock>
    <imgNotAvail>
      <Value><![CDATA[[
  {
    "key": "daed768e-2e83-4e85-836f-b1ccbd11718c",
    "mediaKey": "8ac305f4-c3b3-4734-9ea1-bc846552b3f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imgNotAvail>
    <menuIcon>
      <Value><![CDATA[fa-solid fa-car]]></Value>
    </menuIcon>
    <menuTitle>
      <Value><![CDATA[Πωλήσεις Μεταχειρισμένων]]></Value>
    </menuTitle>
    <usedCarTitle>
      <Value><![CDATA[Φίλτρα]]></Value>
    </usedCarTitle>
  </Properties>
</Content>