<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1f54fdc-8524-402b-8724-365ff7af62f0" Alias="userSettings" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/userSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>userSettings</ContentType>
    <CreateDate>2025-12-09T17:16:56</CreateDate>
    <NodeName Default="userSettings" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="46110cd3-c2e4-4208-a70e-c8bd9e0c1ad7">userSettings</Template>
  </Info>
  <Properties>
    <backImg>
      <Value><![CDATA[[
  {
    "key": "0e386697-bcb9-4fe7-bde9-a64580b4d98b",
    "mediaKey": "b82f65f2-2959-4ae3-9384-4e4714af718d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backImg>
  </Properties>
</Content>