<?xml version="1.0" encoding="utf-8"?>
<Content Key="18ce1861-9a37-4582-8f52-0e866a3ef0de" Alias="Πωλήσεις Μεταχειρισμένων" Level="2">
  <Info>
    <Parent Key="f11c0638-f7ec-465a-9e12-c8f622473f83">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>usedCarSalesPage</ContentType>
    <CreateDate>2025-07-08T14:38:59</CreateDate>
    <NodeName Default="Πωλήσεις Μεταχειρισμένων" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="359a5f8c-039d-4bc3-9c7e-d76e4c7ac43d">UsedCarSalesPage</Template>
  </Info>
  <Properties>
    <carCardBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "603b2d0b-c4e6-4c3e-8b4a-6ab3c439c815",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1608d885-7d8f-423e-a4da-8e4e6bfea757",
              "mediaKey": "895dc5e4-6c2a-4ab6-9420-539f9e80bb41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "X1 X-Line "
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.200"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "90"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0393\u03BA\u03C1\u03B9"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2019"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0395\u03BA\u03C4\u03CC\u03C3 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "BMW"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "cb0d30c8-dd4c-48c9-b76d-2142afc30452",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6a6c3f09-40c7-465f-bff7-9f09df7308cd",
              "mediaKey": "0f28103c-303f-4777-8f15-904481726f8f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Outlander"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.300"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12.300"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "80"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0397\u03BB\u03B5\u03BA\u03C4\u03C1\u03B9\u03BA\u03CC"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u039C\u03C0\u03BB\u03B5"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0395\u03BA\u03C4\u03CC\u03C3 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Mitsubishi"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "3b9aff8c-c3f7-4230-9161-faa498697f65",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e45946f6-d732-416d-8daa-7e0401800879",
              "mediaKey": "bfdb4beb-71ef-4def-a49e-d38ce0afb979",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " Cupra"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12.200"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.000"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "100"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0392\u03B5\u03BD\u03B6\u03AF\u03BD\u03B7"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0386\u03C3\u03C0\u03C1\u03BF"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03CC\u03BB\u03B7\u03C2"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Honda "
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "69c0bf83-523b-4440-91bf-716e6cda3b8b",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4be71a01-4d62-4eb4-a4fc-722a80ffa445",
              "mediaKey": "bfdb4beb-71ef-4def-a49e-d38ce0afb979",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Corolla"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15.000"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.100"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "85"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0392\u03B5\u03BD\u03B6\u03AF\u03BD\u03B7"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0386\u03C3\u03C0\u03C1\u03BF"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Sedan"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Volvo"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "aa0f725e-801e-4587-9af0-c5ceaad81592",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "06cc458b-3f95-459f-9715-e1364e6cf112",
              "mediaKey": "53076dde-85de-4cfc-818a-4376b1cbfb1b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Eclipse Cross"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "20.000"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
          ]
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "90"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.300"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6.700"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2021"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u039C\u03C0\u03BB\u03B5"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0395\u03BA\u03C4\u03CC\u03C3 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Volvo"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "a7f64c68-51f2-4321-b962-6a031e672241",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "87299262-1e9c-46c1-9459-3886cc561060",
              "mediaKey": "895dc5e4-6c2a-4ab6-9420-539f9e80bb41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " Mirage G4"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "40.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.200"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "140"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0397\u03BB\u03B5\u03BA\u03C4\u03C1\u03B9\u03BA\u03CC"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2022"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0393\u03BA\u03C1\u03B9"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Sedan"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "6"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Mitsubishi"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "4812fd5c-30ee-41b2-930e-c78bda6e8b26",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "54c2049a-d64c-48e3-b6a5-8e49f70e3b5d",
              "mediaKey": "895dc5e4-6c2a-4ab6-9420-539f9e80bb41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " hybrid 3\u002B"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "60.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.200"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "150"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A5\u03B2\u03C1\u03B9\u03B4\u03B9\u03BA\u03CC"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2024"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0393\u03BA\u03C1\u03B9"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0395\u03BA\u03C4\u03CC\u03C3 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "7"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Honda "
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "f2a67555-a0cc-46ae-9f2c-f0e091213ca6",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5ac4b7b8-e600-4050-898c-faf557785842",
              "mediaKey": "53076dde-85de-4cfc-818a-4376b1cbfb1b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Gt3"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "50.000"
        },
        {
          "alias": "typeOfDiscount",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Offer"
          ]
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "30.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1.300"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "150"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
          ]
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025"
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u039C\u03C0\u03BB\u03B5"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "SUV"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "8"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Volvo"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "e4b20933-a9d5-4699-a3ff-3ce3a26104c0",
      "udi": null,
      "values": [
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "08a6cbcc-3c6a-4cd4-b1db-5f4ec449e22f",
              "mediaKey": "895dc5e4-6c2a-4ab6-9420-539f9e80bb41",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": " Xforce"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2019"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "17.000"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3.000"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1500"
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "150"
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
          ]
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0393\u03BA\u03C1\u03B9"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03CC\u03BB\u03B7\u03C2"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "9"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Mitsubishi"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "f78cd1db-63f9-4577-ba2a-7884f3b3dbcb",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "6cf9f9db-1251-4587-845e-6ce3f4b86b6c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "12356e42-7889-47c0-bb58-ad4ef80abf44",
      "udi": null,
      "values": [
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0395\u03BA\u03C4\u03CC\u03C3 \u0394\u03C1\u03CC\u03BC\u03BF\u03C5"
          ]
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u0386\u03C3\u03C0\u03C1\u03BF"
          ]
        },
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
          ]
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "190"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1500"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "12000"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "78000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2020"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Login"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "BMW"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "13"
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2a9f9e38-4e75-416f-a3ca-51a65ab751fb",
              "mediaKey": "bf04858f-d5fe-468b-8719-07be7ebebd4c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "key": "1e0366fb-f988-4014-a876-3b159d1c90a7",
      "udi": null,
      "values": [
        {
          "alias": "fuel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03B5\u03C4\u03C1\u03AD\u03BB\u03B1\u03B9\u03BF"
          ]
        },
        {
          "alias": "hp",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "230"
        },
        {
          "alias": "cc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1400"
        },
        {
          "alias": "km",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "price",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "89000"
        },
        {
          "alias": "yearRelease",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023"
        },
        {
          "alias": "model",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "jiji"
        },
        {
          "alias": "maker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Maserati"
          ]
        },
        {
          "alias": "carId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "15"
        },
        {
          "alias": "carPic",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b8c359fa-0d69-4f2e-87ee-fe07a5146924",
              "mediaKey": "6315eeb2-b895-4341-89e9-305c0e8c1f39",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "transmissionType",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Irene"
          ]
        },
        {
          "alias": "color",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A6\u03BF\u03CD\u03BE\u03B9\u03B1"
          ]
        },
        {
          "alias": "typeOfCar",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "\u03A0\u03CC\u03BB\u03B7\u03C2"
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "603b2d0b-c4e6-4c3e-8b4a-6ab3c439c815",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cb0d30c8-dd4c-48c9-b76d-2142afc30452",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3b9aff8c-c3f7-4230-9161-faa498697f65",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69c0bf83-523b-4440-91bf-716e6cda3b8b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aa0f725e-801e-4587-9af0-c5ceaad81592",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a7f64c68-51f2-4321-b962-6a031e672241",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4812fd5c-30ee-41b2-930e-c78bda6e8b26",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f2a67555-a0cc-46ae-9f2c-f0e091213ca6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e4b20933-a9d5-4699-a3ff-3ce3a26104c0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f78cd1db-63f9-4577-ba2a-7884f3b3dbcb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6cf9f9db-1251-4587-845e-6ce3f4b86b6c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "12356e42-7889-47c0-bb58-ad4ef80abf44",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1e0366fb-f988-4014-a876-3b159d1c90a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cb0d30c8-dd4c-48c9-b76d-2142afc30452",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "603b2d0b-c4e6-4c3e-8b4a-6ab3c439c815",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3b9aff8c-c3f7-4230-9161-faa498697f65",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "69c0bf83-523b-4440-91bf-716e6cda3b8b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aa0f725e-801e-4587-9af0-c5ceaad81592",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a7f64c68-51f2-4321-b962-6a031e672241",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4812fd5c-30ee-41b2-930e-c78bda6e8b26",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f2a67555-a0cc-46ae-9f2c-f0e091213ca6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e4b20933-a9d5-4699-a3ff-3ce3a26104c0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f78cd1db-63f9-4577-ba2a-7884f3b3dbcb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6cf9f9db-1251-4587-845e-6ce3f4b86b6c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "12356e42-7889-47c0-bb58-ad4ef80abf44",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1e0366fb-f988-4014-a876-3b159d1c90a7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carCardBlock>
    <usedCarTitle>
      <Value><![CDATA[Φίλτρα]]></Value>
    </usedCarTitle>
  </Properties>
</Content>