<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d03c490-5736-464b-873f-7457d699d100" Alias="carCard - maker - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>carCard - maker - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Mitsubishi",
    "Volvo",
    "BMW",
    "Honda",
    "Maserati"
  ]
}]]></Config>
</DataType>