<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92d45907-3f1c-4bf0-89f1-42234cae4fd1" Alias="carCard - transmissionType - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>carCard - transmissionType - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF",
    "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF",
    "Irene"
  ]
}]]></Config>
</DataType>