<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87006cde-1a59-4ac3-b29c-ff9e07897ad7" Alias="CarPageDetails - carouselCar - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>CarPageDetails - carouselCar - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>