<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f507c186-8c98-41e9-8729-b3f0ecb3bba0" Alias="CarPageDetails - carCarouselImg - Block List Property Editor UI" Level="1">
  <Info>
    <Name>CarPageDetails - carCarouselImg - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7de29471-f200-4bf2-8fd0-13951ad407e7"
    }
  ]
}]]></Config>
</DataType>