<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54ea05e0-3d29-43b3-bbfd-6fb8609d56b1" Alias="CarPage - transmissionType - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>CarPage - transmissionType - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u0391\u03C5\u03C4\u03CC\u03BC\u03B1\u03C4\u03BF",
    "\u03A7\u03B5\u03B9\u03C1\u03BF\u03BA\u03AF\u03BD\u03B7\u03C4\u03BF"
  ]
}]]></Config>
</DataType>