<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c557709-e7ff-492b-8392-8394d66ae2c0" Alias="Faq - accordionQuestions - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Faq - accordionQuestions - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a2aa6e40-4da0-40ab-a580-60ec57c65054"
    }
  ]
}]]></Config>
</DataType>