<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00245b24-6ed5-48c0-848b-0a1cbea0cd79" Alias="FinancingPage - financeCard - Block List Property Editor UI" Level="1">
  <Info>
    <Name>FinancingPage - financeCard - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7b9938b3-f467-47f4-a416-4c52e0a1a3bc"
    }
  ]
}]]></Config>
</DataType>