<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0076448-e5b3-48c4-8a81-289652eb197f" Alias="Home - statsItem - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - statsItem - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d85de8d2-837c-464e-8191-4acf5d9797b8"
    }
  ]
}]]></Config>
</DataType>