<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79111600-e484-469b-8092-23d15a4d463a" Alias="Home - fourSteps - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - fourSteps - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4cf2ab88-6f96-4a1c-aadd-ce220b422122"
    }
  ]
}]]></Config>
</DataType>