<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f17a84c0-aa54-4a33-8262-f2344bccb4c3" Alias="Home - accordionQuestions - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - accordionQuestions - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a2aa6e40-4da0-40ab-a580-60ec57c65054"
    }
  ]
}]]></Config>
</DataType>