<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c150c995-9935-444b-82c8-9c26abf942fd" Alias="Home - photoTrilogy - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - photoTrilogy - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "18118644-9ed6-4581-870d-4d64e8ff9db9"
    }
  ]
}]]></Config>
</DataType>