<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59d359ae-cf65-497b-be84-2c032d792ae1" Alias="Home - fourSteps - Block List Property Editor UI (1)" Level="1">
  <Info>
    <Name>Home - fourSteps - Block List Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8051b137-dbac-432d-ab37-8f3527c8a119"
    }
  ]
}]]></Config>
</DataType>