<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dba18fd9-5517-4829-928b-356a84f6d73d" Alias="MemberProfile - phone - Numeric Property Editor UI" Level="1">
  <Info>
    <Name>MemberProfile - phone - Numeric Property Editor UI</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 10
}]]></Config>
</DataType>