<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3dbc03cc-d246-4c14-8a50-60e610911648" Alias="UsedCarSalesPage - tenPhotosBlock - Block List Property Editor UI" Level="1">
  <Info>
    <Name>UsedCarSalesPage - tenPhotosBlock - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ec6b016a-a90b-41bc-8b71-38eff6c2eb84"
    }
  ]
}]]></Config>
</DataType>