<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbc9dc99-804f-45d2-86a7-4ea6f13269b5" Alias="UsedCarSalesPage - carCardBlock - Block List Property Editor UI" Level="1">
  <Info>
    <Name>UsedCarSalesPage - carCardBlock - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b7a3be33-4149-454e-a466-583007a7ca5e",
      "label": "{=maker} {=model} ({=yearRelease})",
      "editorSize": "large",
      "thumbnail": "/App_Plugins",
      "iconColor": "#ee0303"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": true
}]]></Config>
</DataType>