<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8038d8c0-98bf-4a4a-883c-0b39d8f5540f" Alias="WarrantyPage - warrantyCard - Block List Property Editor UI" Level="1">
  <Info>
    <Name>WarrantyPage - warrantyCard - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "28c3d2f4-16c9-424c-acc9-0588e241cd10",
      "label": ""
    }
  ]
}]]></Config>
</DataType>