.contact-img {
  margin-top: 30px;
  height: 500px;
}

.contact-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  margin: 30px auto;
  padding: 8px 66px 14px;
}

.contact-left {
  flex: 1 1 500px;
}

.contact-right {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-right iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 12px;
}

.contact-title {
  color: #39c0c3;
  font-size: 3rem;
  margin: 8px 0 12px;
  line-height: 1.3;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
}

textarea {
  resize: vertical;
}

.submit-btn {
  margin-top: 25px;
  padding: 16px 22px;
  font-size: 16px;
  background-color: #002e4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.submit-btn:hover {
  background-color: #01436a;
}
