.contact-container {
  padding: 10px 20px;
}

@media (max-width: 575px) {
  .warranty-img-wrapper img {
    max-width: 80%;
    object-fit: cover;
  }

  .contact-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .submit-btn {
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .warranty-img-wrapper img {
    max-width: 80%;
    object-fit: cover;
  }

  .contact-title {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .warranty-img-wrapper img {
    max-width: 80%;
    object-fit: cover;
  }

  .contact-title {
    font-size: 2.2rem;
    text-align: center;
  }

  .contact-container {
    padding: 10px 10px;
  }
}

@media (min-width: 1200px) {
  .warranty-img-wrapper img {
    max-width: 60%;
    object-fit: cover;
  }

  .contact-title {
    font-size: 2.7rem;
    text-align: center;
  }

  .contact-container {
    padding: 10px 10px;
  }
}
