.faq-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.faq-image {
  border-radius: 12px;
  max-width: 60%;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.faq-title {
  color: #001858;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 30px;
}

.loan-card h2 {
  font-weight: 400;
}
