#actionBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#password {
  width: 100%;
  box-sizing: border-box;
  padding-right: 45px;
}

#PasswordVisib {
  position: absolute;
  top: 38%;
  right: 22px;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #33333392;
  padding: 0;
  display: flex;
  align-items: right;
  justify-content: right;
  transition: all 0.2s ease;
  width: 20px;
}

#PasswordVisib .icon {
  font-size: 18px;
}

#password:focus,
#password[type="text"],
#password[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 575px) {
  #PasswordVisib {
    top: 32%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  #PasswordVisib {
    top: 35%;
  }
}

@media (min-width: 992px) {
  #PasswordVisib {
    top: 33%;
  }
}

@media (min-width: 1200px) {
  #PasswordVisib {
    top: 35%;
  }
}
