.warranty-img-wrapper {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.loan-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin-bottom: 20px;
}

.container {
  max-width: none;
}

.loan-card:hover {
  transform: translateY(-5px);
}

/* ============ 📱 Mobile (έως 575px) ============ */
@media (max-width: 575px) {
  .warranty-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .warranty-title {
    margin-top: 30px;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    color: #39c0c3;
    width: 90%;
  }

  .warranty-subtitle {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #001858;
    width: 70%;
  }

  .loan-info-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    max-width: 80%;
    margin: 0 auto;
  }

  .loan-card h2 {
    font-size: 1rem;
    color: #39c0c3;
    /* font-weight: bold; */
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .warranty-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .warranty-img {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  .warranty-title {
    margin-top: 30px;
    font-size: 1.9rem;
    font-family: "Open Sans", sans-serif;
    color: #39c0c3;
  }

  .warranty-subtitle {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #001858;
  }

  .loan-info-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    max-width: 80%;
    margin: 0 auto;
  }

  .loan-card h2 {
    font-size: 1.2rem;
    color: #39c0c3;
    /* font-weight: bold; */
    margin-bottom: 15px;
  }
}

/* ============ 💻 Desktop (≥992px) ============ */
@media (min-width: 992px) {
  .warranty-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .warranty-title {
    margin-top: 30px;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #39c0c3;
  }

  .warranty-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #001858;
  }

  .loan-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 80%;
    margin: 0 auto;
  }

  .loan-card h2 {
    font-size: 1.2rem;
    color: #39c0c3;
    /* font-weight: bold; */
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .warranty-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .warranty-title {
    margin-top: 30px;
    font-size: 2.1rem;
    font-family: "Open Sans", sans-serif;
    color: #39c0c3;
  }

  .warranty-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #001858;
  }

  .loan-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 80%;
    margin: 0 auto;
  }

  .loan-card h2 {
    font-size: 1.4rem;
    color: #39c0c3;
    /* font-weight: bold; */
    margin-bottom: 15px;
  }

  .loan-card span {
    font-size: 11rem;
  }
}
