<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81446f1c-c76a-4809-a97a-9cbef8a08545" Alias="carPageDetails" Level="1">
  <Info>
    <Name>CarPageDetails</Name>
    <Icon>icon-car color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>CarPageDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="30b6f5fd-056f-4a81-b189-5b973669361d">CarPageDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f23cff5-bacd-43f4-8b7c-c904448a60b3</Key>
      <Name>carBlock</Name>
      <Alias>carBlock</Alias>
      <Definition>cbc9dc99-804f-45d2-86a7-4ea6f13269b5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="carDetails">carDetails</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ccf3aa6-c298-48e0-891d-e1edee77add0</Key>
      <Name>carCarouselImg</Name>
      <Alias>carCarouselImg</Alias>
      <Definition>f507c186-8c98-41e9-8729-b3f0ecb3bba0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="carDetails">carDetails</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1772aa2-2a67-473f-9fde-4dea1ae138be</Key>
      <Name>kinsenLogo</Name>
      <Alias>kinsenLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="carDetails">carDetails</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>240b533e-f47d-4ce3-a478-dbbb78a67cae</Key>
      <Caption>carDetails</Caption>
      <Alias>carDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>