<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f45b6365-9233-4608-87f1-6460be86174f" Alias="carsImport" Level="2">
  <Info>
    <Name>CarsImport</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>CarsImport</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ef2ca944-478f-48f0-acdd-918aba17c3ec" SortOrder="0">carDetailsMember</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>