<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a3911ec-c263-431e-8688-f369257c2d50" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9deae99f-a1ee-4b5b-b2d3-954ef08c7ea7">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="41c40e10-85e5-4296-8265-f27061b11ea9" SortOrder="0">usedCarSalesPage</ContentType>
    <ContentType Key="f6681771-f880-4cf8-a86e-67083832c439" SortOrder="1">financingPage</ContentType>
    <ContentType Key="80351c28-66d2-49f2-9d5e-c300225c7341" SortOrder="2">warrantyPage</ContentType>
    <ContentType Key="b420e64f-6b59-4881-924a-93f1e2920e19" SortOrder="3">contactPage</ContentType>
    <ContentType Key="25ecfefa-f2b4-4fb2-81cf-d95013f95840" SortOrder="4">login</ContentType>
    <ContentType Key="81446f1c-c76a-4809-a97a-9cbef8a08545" SortOrder="5">carPageDetails</ContentType>
    <ContentType Key="70f44abb-cebc-4fd2-b9d8-15f249c6e81a" SortOrder="6">shoppingCartContent</ContentType>
    <ContentType Key="ef2ca944-478f-48f0-acdd-918aba17c3ec" SortOrder="7">carDetailsMember</ContentType>
    <ContentType Key="675a7ccc-bccf-4799-9530-f4eead9f31f7" SortOrder="8">carDetailsVisitor</ContentType>
    <ContentType Key="92cba540-f91d-4de9-9274-f5c50773c494" SortOrder="9">faq</ContentType>
    <ContentType Key="811f6aa6-30d2-41d5-a446-d7fd4b921b1f" SortOrder="10">userSettings</ContentType>
    <ContentType Key="79ee13ff-5ee8-42c7-9907-6c466e0126ed" SortOrder="11">getCode</ContentType>
    <ContentType Key="38dabdc7-7d23-468f-a7fd-954a26350d7e" SortOrder="12">forgotPassword</ContentType>
    <ContentType Key="8e15c413-af20-47d3-ba82-4aa4d5c2f51c" SortOrder="13">favorites</ContentType>
    <ContentType Key="3851d6e8-1416-46b8-aef7-e74aa0d79f6a" SortOrder="14">oldOrders</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0bbfe3f5-de55-4417-8301-6fea90333dab</Key>
      <Name>accordionQuestions</Name>
      <Alias>accordionQuestions</Alias>
      <Definition>f17a84c0-aa54-4a33-8262-f2344bccb4c3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accordion">accordion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>182a5076-2b95-494a-9eca-e3c31c1d5b13</Key>
      <Name>carouselCars</Name>
      <Alias>carouselCars</Alias>
      <Definition>cbc9dc99-804f-45d2-86a7-4ea6f13269b5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="carouselCars">carouselCars</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6618afc-17d6-4519-bbe1-cb20e06181a1</Key>
      <Name>featureCard</Name>
      <Alias>featureCard</Alias>
      <Definition>c643a861-218a-4eb9-bb2f-6a9bcb8eb8b8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featureCard">featureCard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ed2aaaf-a501-425a-b3dd-014a75901383</Key>
      <Name>homeVideo</Name>
      <Alias>homeVideo</Alias>
      <Definition>70575fe7-9812-4396-bbe1-c81a76db71b5</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b884b70-be4f-4924-bb9b-c6fd8816706b</Key>
      <Name>imgNotAvail</Name>
      <Alias>imgNotAvail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="carouselCars">carouselCars</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7af66b90-bc21-422e-8397-0e992a35200a</Key>
      <Name>imgPaper</Name>
      <Alias>imgPaper</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f815fdb6-e0cf-47cb-a7f3-dcccbcc5dfe1</Key>
      <Name>PageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97ea6b3a-5acd-489c-8fd5-4250c60e00f5</Key>
      <Name>paragr</Name>
      <Alias>paragr</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="statsItem">statsItem</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d0faf91-a8c8-407d-a212-9343de667672</Key>
      <Name>photoTrilogy</Name>
      <Alias>photoTrilogy</Alias>
      <Definition>c150c995-9935-444b-82c8-9c26abf942fd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="photoTrilogy">photoTrilogy</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3884d817-448a-427a-994a-c837ab559f65</Key>
      <Name>statsItem</Name>
      <Alias>statsItem</Alias>
      <Definition>d0076448-e5b3-48c4-8a81-289652eb197f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="statsItem">statsItem</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c33d085-4c1d-4c55-9813-efc66e2e15af</Key>
      <Name>trilogyBlock</Name>
      <Alias>trilogyBlock</Alias>
      <Definition>8038d8c0-98bf-4a4a-883c-0b39d8f5540f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="photoTrilogy">photoTrilogy</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>03e86cae-d004-4501-b88d-23652dcbed9f</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>47678eea-a834-4241-995c-3229c0977668</Key>
      <Caption>photoTrilogy</Caption>
      <Alias>photoTrilogy</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>4b63298c-74ae-4969-9b66-9e27341871dd</Key>
      <Caption>accordion</Caption>
      <Alias>accordion</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>66d20724-3334-481f-b9c3-2f69823adcb0</Key>
      <Caption>featureCard</Caption>
      <Alias>featureCard</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>80f1d782-8d67-485d-beab-42f1be41e968</Key>
      <Caption>carouselCars</Caption>
      <Alias>carouselCars</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c0a992c4-d185-422e-9cae-89e9789b4166</Key>
      <Caption>statsItem</Caption>
      <Alias>statsItem</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>