<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3851d6e8-1416-46b8-aef7-e74aa0d79f6a" Alias="oldOrders" Level="1">
  <Info>
    <Name>oldOrders</Name>
    <Icon>icon-circle-dotted-active color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>oldOrders</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e2251098-7a4b-4c66-af43-6a6fdbc13f25">oldOrders</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94eb5fad-75b5-4649-a78f-c540aa20742b</Key>
      <Name>oldOrdersTitle</Name>
      <Alias>oldOrdersTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="oldOrdersTitle">oldOrdersTitle</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e9b8b62-b63f-4f23-847d-c838df15871d</Key>
      <Caption>oldOrdersTitle</Caption>
      <Alias>oldOrdersTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>