<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="811f6aa6-30d2-41d5-a446-d7fd4b921b1f" Alias="userSettings" Level="1">
  <Info>
    <Name>userSettings</Name>
    <Icon>icon-user color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>userSettings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="46110cd3-c2e4-4208-a70e-c8bd9e0c1ad7">userSettings</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9efb1d6-d00c-44c0-970f-9929bc6faabe</Key>
      <Name>backImg</Name>
      <Alias>backImg</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backImg">backImg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>603d6f06-0a3b-4189-a57c-653ab42920de</Key>
      <Caption>backImg</Caption>
      <Alias>backImg</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>